<included>
  <property name="module" value="${module:-web}"/>
  <property name="all" value="${module}-all"/>
  <property name="sqlFileName" value="${module}-sql"/>
  <property name="requestFileName" value="web-req"/>

  <property name="filePattern" value="%date{yyyy-MM-dd HH:mm:ss:SSS} %.-1level{1} [%25.25thread] [%X{requestId}]
 [%30.30logger{30}#%-20.20(%method:%line)] %message%n"/>
  <property name="reqPattern" value="%date{yyyy-MM-dd HH:mm:ss:SSS} %.-1level{1} [%25.25thread] %message%n"/>

  <springProfile name="!cli">
    <property name="cliConsolePattern" value="%cyan(%date{yyyy-MM-dd HH:mm:ss:SSS}) %.-1level{1} %yellow(%message%n)"/>
    <property name="consolePattern" value="%cyan(%date{yyyy-MM-dd HH:mm:ss:SSS} %.-1level{1} [%25.25thread] [%X{requestId}])
%yellow([%30.30logger{30}#%-20.20(%method:%line)]) %blue(%message%n)"/>
  </springProfile>
  <springProfile name="cli">
    <property name="cliConsolePattern" value="%date{yyyy-MM-dd HH:mm:ss:SSS} %.-1level{1} %message%n"/>
    <property name="consolePattern" value="%date{yyyy-MM-dd HH:mm:ss:SSS} %.-1level{1} [%25.25thread] [%X{requestId}]
[%30.30logger{30}#%-20.20(%method:%line)] %message%n"/>
  </springProfile>

  <springProfile>
    <property name="consolePattern" value="%cyan(%date{yyyy-MM-dd HH:mm:ss:SSS} %.-1level{1} [%25.25thread] [%X{requestId}])
%yellow([%30.30logger{30}#%-20.20(%method:%line)]) %blue(%message%n)"/>
  </springProfile>

  <appender name="ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/${all}.log</file>
    <encoder>
      <pattern>
        ${filePattern}
      </pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>logs/archive/%d{yyyyMMdd}/${all}.%i.log.zip</fileNamePattern>
      <maxFileSize>50MB</maxFileSize>
      <maxHistory>60</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <appender name="SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/${sqlFileName}.log</file>
    <encoder>
      <pattern>
        ${filePattern}
      </pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>logs/archive/%d{yyyyMMdd}/${sqlFileName}.%i.log.zip</fileNamePattern>
      <maxFileSize>50MB</maxFileSize>
      <maxHistory>60</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
  </appender>


  <appender name="WEB_REQ_STD_OUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        ${reqPattern}
      </pattern>
    </encoder>
  </appender>

  <appender name="WEB_REQ" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/${requestFileName}.log</file>
    <encoder>
      <pattern>
        ${reqPattern}
      </pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>logs/archive/%d{yyyyMMdd}/${requestFileName}.%i.log.zip</fileNamePattern>
      <maxFileSize>50MB</maxFileSize>
      <maxHistory>60</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        ${consolePattern}
      </pattern>
    </encoder>
  </appender>

  <appender name="CLI_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        ${cliConsolePattern}
      </pattern>
    </encoder>
  </appender>
</included>
