<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sheepfly.media.dataaccess.mapper.AlbumMapper">

  <resultMap id="BaseResultMap" type="com.sheepfly.media.dataaccess.entity.Album">
    <id property="id" column="ID" jdbcType="VARCHAR"/>
    <result property="name" column="NAME" jdbcType="VARCHAR"/>
    <result property="deleteStatus" column="DELETE_STATUS" jdbcType="TINYINT"/>
    <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
    <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
    <result property="deleteTime" column="DELETE_TIME" jdbcType="TIMESTAMP"/>
  </resultMap>

  <sql id="Base_Column_List">
    ${t_album}.ID, ${t_album}.NAME, ${t_album}.DELETE_STATUS,
    ${t_album}.CREATE_TIME, ${t_album}.UPDATE_TIME, ${t_album}.DELETE_TIME
  </sql>

  <select id="selectAlbumList" parameterType="TableRequest" resultType="com.sheepfly.media.dataaccess.vo.AlbumVo">
    select <include refid="Base_Column_List">
        <property name="t_album" value="a"/>
      </include>
      <if test="params.selectModal">
        ,ar.resource_id
      </if>
    from media.ALBUM a
    <if test="params.selectModal">
      left join media.album_resource ar
        on ar.album_id = a.id
        and ar.delete_status = 0
        and ar.resource_id = #{params.resourceId}
    </if>
    <if test="params.albumName != null and params.albumName != ''">
      where a.name like '%' || #{params.albumName} || '%'
    </if>
    order by CREATE_TIME desc
  </select>
</mapper>
