<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sheepfly.media.dataaccess.mapper.CollectMapper">

  <resultMap id="BaseResultMap" type="com.sheepfly.media.dataaccess.entity.Collect">
    <id property="collectId" column="COLLECT_ID" jdbcType="VARCHAR"/>
    <result property="collectName" column="COLLECT_NAME" jdbcType="VARCHAR"/>
    <result property="deleteStatus" column="DELETE_STATUS" jdbcType="TINYINT"/>
    <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
    <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
    <result property="deleteTime" column="DELETE_TIME" jdbcType="TIMESTAMP"/>
  </resultMap>

  <sql id="Base_Column_List">
    clet.COLLECT_ID, clet.COLLECT_NAME, clet.DELETE_STATUS,
        clet.CREATE_TIME, clet.UPDATE_TIME, clet.DELETE_TIME
  </sql>

  <select id="queryAll" parameterType="TableRequest" resultType="com.sheepfly.media.common.vo.CollectVo">
    select
    <include refid="Base_Column_List"/>
    from media.COLLECT coll
    <where>
      <if test="params.collectName != null and params.collectName != ''">
        clet.collect_name like '%' || #{params.collectName} || '%'
      </if>
      and clet.delete_status = 0
    </where>
    order by CREATE_TIME desc
  </select>

</mapper>
