<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sheepfly.media.dataaccess.mapper.DirRepoMapper">
  <select id="queryAll" resultType="com.sheepfly.media.common.vo.DirRepoVo">
    select id,
      dir_code,
      name,
      path,
      delete_status,
      create_time,
      update_time,
      delete_time
    from media.DIR_REPO
    where delete_status = 0
    order by create_time desc
  </select>
</mapper>
