<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sheepfly.media.dataaccess.dao.ResourceMapper">
  <resultMap id="ResourceVo" type="com.sheepfly.media.dataaccess.vo.ResourceVo" autoMapping="true">
    <id property="id" column="id"/>
    <association property="authorVo"
        resultMap="com.sheepfly.media.dataaccess.dao.AuthorMapper.AuthorVo"
        columnPrefix="author_vo_"/>
  </resultMap>

  <sql id="where_statement">
    <if test="params.filename neq null and params.filename neq '' ">
      and lower(filename) like '%' || #{params.filename} || '%'
    </if>
    <if test="params.dir neq null and params.dir neq '' ">
      and lower(dir.path) like '%' || #{params.dir} || '%'
    </if>
    <if test="params.authorId neq null and params.authorId neq '' ">
      and author.id = #{params.authorId}
    </if>
  </sql>

  <select id="selectResourceVoList"
      parameterType="com.sheepfly.media.common.http.ProComponentsRequestVo"
      resultMap="ResourceVo">
    select res.id,
      dir.path as dir,
      res.filename,
      res.album_id,
      res.create_time,
      res.update_time,
      res.author_id author_vo_id,
      res.dir_code,
      author.username author_vo_username
    from media.resource res
           left join media.author author
                     on author.id = res.author_id
           left join media.directory dir
                     on res.dir_code = dir.dir_code
    where res.DELETE_STATUS = '0'
    <include refid="where_statement"/>
    order by res.CREATE_TIME desc
  </select>
</mapper>
