<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sheepfly.media.dataaccess.mapper.TagReferenceMapper">
  <resultMap id="tagReferenceVo" type="com.sheepfly.media.common.vo.TagReferenceVo">
    <id property="id" column="ID"/>
    <result property="resourceId" column="RESOURCE_ID"/>
    <result property="referenceType" column="REFERENCE_TYPE"/>
    <result property="referTime" column="REFER_TIME"/>
    <association property="tagVo" columnPrefix="tag_" javaType="com.sheepfly.media.common.vo.TagVo">
      <result property="id" column="ID"/>
      <result property="name" column="NAME"/>
      <result property="createTime" column="CREATE_TIME"/>
    </association>
    <!--这个字段目前没有值，不需要映射-->
    <!--<result property="unReferTime" column="UN_REFER_TIME"/>-->
  </resultMap>
  <update id="batchDeleteByResource">
    delete from media.TAG_REFERENCE
    where resource_id in (
      select res.id
      from media.resource res
      where res.DELETE_STATUS = 1
      <choose>
        <when test="idList neq null and idList.size() gt 0">
          and res.id in
          <foreach collection="idList" item="item" separator="," open="(" close=")">
            #{item}
          </foreach>
        </when>
        <otherwise>
          <include refid="com.sheepfly.media.dataaccess.mapper.ResourceMapper.batch_where_sql">
            <property name="t_resource" value="res"/>
          </include>
        </otherwise>
      </choose>
      )
  </update>
  <select id="queryTagReferenceList" parameterType="com.sheepfly.media.common.http.TableRequest"
      resultMap="tagReferenceVo">
    select tf.id, tf.RESOURCE_ID, tf.TAG_ID, tag.NAME as tag_name
    from media.TAG_REFERENCE tf
           left join media.tag tag
                     on tag.id = tf.TAG_ID
    where 1=1
    <if test="params.resourceId != null and params.resourceId != ''">and tf.RESOURCE_ID = #{params.resourceId}</if>
    <if test="params.tagName != null and params.tagName != ''">and lower(tag.NAME) = lower(#{params.tagName})</if>
    <if test="params.rate == true">
      and tag.name in ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
    </if>
    <if test="params.favorite == true">
      and tag.name = '收藏'
    </if>
  </select>
  <select id="queryFavorite" resultMap="tagReferenceVo" parameterType="string">
    select tf.id, tf.RESOURCE_ID, tf.TAG_ID, tag.NAME as tag_name
    from media.TAG_REFERENCE tf
           left join media.tag tag
                     on tag.id = tf.TAG_ID
    where 1=1
      and tf.RESOURCE_ID = #{resourceId}
      and tag.name = '收藏'
  </select>
  <select id="queryRate" resultMap="tagReferenceVo" parameterType="string">
    select tf.id, tf.RESOURCE_ID, tf.TAG_ID, tag.NAME as tag_name
    from media.TAG_REFERENCE tf
           left join media.tag tag
                     on tag.id = tf.TAG_ID
    where 1=1
      and tf.RESOURCE_ID = #{resourceId}
      and tag.name in ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
  </select>
</mapper>
