#idea
**/.idea
**/*.iml
**/out

#maven
**/target

#项目运行
**/logs
data/

#gradle
**/build/
**/dist/
**/.gradle

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
