# sqlite
database.sqlite

# idea
/.idea
/*.iml

# maven
target

# other
**/Application.java
**/ApplicationTest.java
**/App.java
**/AppTest.java
**/SpringApplicationTest.java
**/SpringApp.java
**/SpringTest.java
src/main/resources/static

# 忽略数据源配置，防止泄露数据库
datasource.properties
*.db

.jpb

# logs
logs/
upload

# 其他
todo.txt
dev-package.bat