<configuration>
  <include resource="logback-appender.xml"/>

  <logger name="sql" level="DEBUG" additivity="FALSE">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="SQL"/>
  </logger>

  <logger name="org.hibernate.SQL" level="DEBUG" additivity="FALSE">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="SQL"/>
  </logger>

  <!--<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="FALSE">-->
  <!--  <appender-ref ref="STDOUT"/>-->
  <!--  <appender-ref ref="SQL"/>-->
  <!--</logger>-->

  <logger name="com.sheepfly.media.web.interceptor.LoggerInterceptor" additivity="FALSE">
    <appender-ref ref="WEB_REQ_STD_OUT"/>
    <appender-ref ref="WEB_REQ"/>
    <appender-ref ref="ALL"/>
    <appender-ref ref="STDOUT"/>
  </logger>

  <!-- 根logger等级是INFO -->
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="ALL"/>
  </root>

</configuration>
