<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sheepfly.media.dao.AlbumMapper">
  <resultMap id="AlbumVo"
             type="com.sheepfly.media.vo.AlbumVo"
             autoMapping="true">
    <id property="id" column="id"/>
    <association property="authorVo"
                 columnPrefix="author_vo_"
                 resultMap="com.sheepfly.media.dao.AuthorMapper.AuthorVo"/>
  </resultMap>
</mapper>
