<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sheepfly.media.dao.ResourceTypeMapper">
  <resultMap id="resourceType" type="com.sheepfly.media.vo.ResourceTypeVo" autoMapping="true">
    <id property="id" column="id"/>
    <association property="resourceVo" javaType="com.sheepfly.media.vo.ResourceVo">
      <id property="id" column="resourceId"/>
    </association>
    <association property="resourceTypeMapVo" javaType="com.sheepfly.media.vo.ResourceTypeMapVo">
      <id property="id" column="resourceTypeMapId"/>
    </association>
  </resultMap>
</mapper>
