<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sheepfly.media.dao.ResourceMapper">
  <resultMap id="ResourceVo" type="com.sheepfly.media.vo.ResourceVo" autoMapping="true">
    <id property="id" column="id"/>
    <association property="albumVo"
                 resultMap="com.sheepfly.media.dao.AlbumMapper.AlbumVo"
                 columnPrefix="album_vo_"/>
    <association property="authorVo"
                 resultMap="com.sheepfly.media.dao.AuthorMapper.AuthorVo"
                 columnPrefix="author_vo_"/>
  </resultMap>

  <select id="selectResourceVoList"
          parameterType="com.sheepfly.media.form.querylist.ResourceVoForm"
          resultMap="ResourceVo">
    select res.id,
      res.dir,
      res.filename,
      res.album_id,
      res.create_time,
      res.update_time,
      res.author_id author_vo_id,
      album.id album_vo_id,
      album.album_name album_vo_album_name,
      author.username author_vo_username
    from resource res
    left join album album
        on album.id = res.album_id
    left join author author
        on author.id = res.author_id
  </select>
</mapper>
