<configuration>
  <include resource="logback-appender.xml"/>

  <logger name="sql" level="DEBUG" additivity="FALSE">
    <appender-ref ref="CLI_CONSOLE"/>
    <appender-ref ref="SQL"/>
  </logger>

  <logger name="org.hibernate.SQL" level="DEBUG" additivity="FALSE">
    <appender-ref ref="CLI_CONSOLE"/>
    <appender-ref ref="SQL"/>
  </logger>

  <logger name="org.hibernate.type.descriptor.sql" level="TRACE" additivity="FALSE">
    <appender-ref ref="CLI_CONSOLE"/>
    <appender-ref ref="SQL"/>
  </logger>

  <!-- 根logger等级是INFO -->
  <root level="INFO">
    <appender-ref ref="CLI_CONSOLE"/>
    <appender-ref ref="ALL"/>
  </root>

</configuration>
